* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: linear-gradient(to right, #1a1a1a 30%, white 30%) no-repeat;
    color: #2c3e50;
}

body, input, button {
    font-family: "Noto Serif", serif;
}

#app {
    padding: 0 80px;
}

@media screen and (max-width: 900px) {
    #app {
        padding: 0 10px;
    }
}